
/* COMMON */
body {
  
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4; /* 행간 */

  /* 구글 포튼 사용 정의 */
  font-family: 'Nanum Gothic', sans-serif;
  height: 3000px;
}

/* 이미지 태그를 블럭요소로 사용하겠다 선언 */
img {
  display: block;
}
/* a href의 링크 밑줄 제거 */
a {
  text-decoration: none;
}

.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

/* 모든 버튼 class 요소의 css 정의 */
.btn {
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: .4s;
}

.btn:hover {
  background-color: #333;
  color: #fff;
}

/* 일치선택자를 통해서 상태를 나타내는 -- */
.btn.btn--reverse {
  background-color: #333;  
  color: #fff;
}

.btn.btn--reverse:hover {
  /* 투명함을 나타내는 색상 transparent */
  background-color: transparent;
  color: #333;
}

.btn.btn--brown {
  color: #592b18;
  border-color: #592B18;
}

.btn.btn--brown:hover {
  color: #fff;
  background-color: #592B18;
}

.btn.btn--gold {
  color: #D9AA8A;
  border-color: #D9AA8A;
}

.btn.btn--gold:hover {
  color: #fff;
  background-color: #D9AA8A;
}

.btn.btn--white {
  color: #fff;
  border-color: #FFF;
}

.btn.btn--white:hover {
  color: #fff;
  background-color: #FFF;
}

/*************************************************
* ScrollMagic.js 사용에 따른 스크롤 CSS정의
*  
* 스크롤 이벤트에 따라 이미지들을 좌/우 이동
* 
**************************************************/
.back-to-position {

  /* opacity: 0; 완전 투명하게  */
  opacity: 0;
  /* transition: 1s; 1초 동안 전환효과 */
  transition: 1s; 
}

/**
* 일치 선택자
* 왼쪽 --> 오른쪽으로 나타내는 애니메이션
*/
.back-to-position.to-right {

  /* transform 변환효과, translateX()는 x축으로 이동 */
  transform: translateX(-150px);
}

/**
* 일치 선택자
* 오른쪽 --> 왼쪽으로 나타내는 애니메이션
*/
.back-to-position.to-left {

  /* transform 변환효과, translateX()는 x축으로 이동 */
  transform: translateX(150px);
}

.show .back-to-position {
  /* opacity: 1은 불투명하게 화면에 보여줌   */
  opacity: 1;
  transform: translateX(0);
}

.show .back-to-position.delay-0 {
  transition-delay: 0s;
}

.show .back-to-position.delay-1 {
  transition-delay: .3s;
}

.show .back-to-position.delay-2 {
  transition-delay: .6s;
}

.show .back-to-position.delay-3 {
  transition-delay: .9s;
}

/*************************************************
*  스크롤 내리면 이미지들을 좌/우로 움직이도록 CSS정의 끝
* 
**************************************************/


/* HEADER */
header {

  width: 100%;
  /* position: relative; */
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
  position: fixed;  /* 브라우저의 뷰포트를 기준으로 배치하겟다*/
  top: 0;
  z-index: 9;
}

/* header .inner { */
/**
  자식 선택자를 사용해서 자식 요소의 inner부분만 높이를 가질 수 있도록 선언 
  */
header > .inner {  
  height: 120px;
}

header .logo {
  height: 75px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  /* display: none; */
}

header .sub-menu {
  position: absolute;
  top: 10px;
  right: 0;
  display: flex;
}

header .sub-menu ul.menu {

  font-family: Arial, sans-serif;

  /* 수직 정렬을 --> 수평으로 정렬  */
  display: flex;
}

header .sub-menu ul.menu li {
  
  position: relative;
}

/* 가상요소 선택자 */
header .sub-menu ul.menu li::before {
  content: "";
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

/* 가상클래스 선택자 */
header .sub-menu ul.menu li:first-child::before {

  display: none;
}

header .sub-menu ul.menu li a {
  
  font-size: 12px;  /* 메뉴의 size */
  padding: 11px 16px;
  display: block;
  color: #656565;
  

}

/* a 링크 태그에 마우스를 올리면 이벤트 a:hover */
header .sub-menu ul.menu li a:hover {
  
  color: #000;
}


header .sub-menu .search {

  /* background-color: red; */
  height: 34px;
  position: relative;
}

header .sub-menu .search input {
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc; /* 밝은 회색 */
  box-sizing: border-box;    
  border-radius: 5px;       /* input 요소의 모퉁이를 5px 깍아준다 */
  outline: none;            /* input box의 태두리 선을 없애준다  */
  background-color: #fff; /* 배경색을 흰색  */
  color: #777;            /* 글자 색상  */ 
  
  font-size: 12px;
  transition: width .4s;    /* 전환효과 사용 0.4 초*/
}

/* 
  가상클래스 선택자 추가
  검색 input 요소가 포커스 될때 css적용
*/
header .sub-menu .search input:focus {

  width: 190px;             /* input box의 넓이 */
  border-color: #669900;  /* 테두리선 */
}

/* 
  검색 돋보기 버튼 
*/
header .sub-menu .search .material-icons {
  
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  transition: .4s;
}

/* .search.focused 중요 */
header .sub-menu .search.focused .material-icons {
  
  opacity: 0;

}


/*  header 메뉴에 대한 css 정보 작업   */

header .main-menu {

  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;

  /* 메뉴를 수평으로 펼친다 */
  display: flex;
}

header .main-menu .item {

}

/* 메뉴의 패딩, 글꼴, 사이즈를 정리한다.  */
header .main-menu .item .item__name {
  
  padding: 10px 20px 34px 20px;
  font-family: Arial, sans-serif;
  font-size: 13px;
}

/**
  item:hover를 추가한다(가상 클래스 선택자)

  item__name에 추가하지 않고 item:hover에 추가한다
  item__name와 item__contents도 적용이 되어야 된다.

*/
header .main-menu .item:hover .item__name {
  
  background-color: #2c2a29;
  color: #669900;
  border-radius: 6px 6px 0 0;
}

header .main-menu .item .item__contents {
  width: 100%;
  position: fixed;
  left: 0;
  display: none;
}

/**
  item:hover를 추가한다(가상 클래스 선택자)
*/

header .main-menu .item:hover .item__contents {
  display: block;

}

header .main-menu .item .item__contents .contents__menu {
  background-color: #2c2a29;

}

/* .contents__menu > ul  자식에 대한 ul 태그 */
header .main-menu .item .item__contents .contents__menu > ul {
  display: flex; /* 메뉴 수평정렬*/
  padding: 20px 0; /* 위아래 20px, 좌우여백은 0 사용안한다 */

}

/* .contents__menu > ul > li  자식에 대한 ul li 태그 */
header .main-menu .item .item__contents .contents__menu > ul > li {

  width: 200px;
}

/* .contents__menu > ul > li  자식에 대한 ul li 태그 */
header .main-menu .item .item__contents .contents__menu > ul > li h4 {

  padding: 3px 0 12px 0 ;
  font-size: 14px;
  color: #fff;
}


header .main-menu .item .item__contents .contents__menu > ul > li ul li {

  padding: 5px;
  font-size: 12px;
  color: #999;
  cursor: pointer; /*  파우스 포인트가 --> 손가락으로 변경 */
}

header .main-menu .item .item__contents .contents__menu > ul > li ul li:hover {

  color: #669900;

}


header .main-menu .item .item__contents .contents__texture {
  
  /* background-color: orange;
  height: 100px; */
  padding: 26px 0;
  font-size: 12px;
  background-image: url("../images/main_menu_pattern.jpg");
}

header .main-menu .item .item__contents .contents__texture h4{

    color: #999;
    font-weight: 700;
}

header .main-menu .item .item__contents .contents__texture p{
  color: #669900;
  margin: 4px 0 14px;

}

/**
  Badge 영역 추가
 */
header .badges {
  position: absolute;
  top: 132px;
  right: 12px;
}

header .badges .badge {
  border-radius: 10px;                         /* 이미지 모서리를 깍아준다*/
  overflow: hidden;
  margin-bottom: 12px;                        /* 배지 이미지 2개 요소의 사이사이 간격을 준다 */
  box-shadow: 4px 4px 10px rgba(0,0,0,.15); /* 이미지의 그림자를 넣어준다 */
  cursor: pointer;                            /* 커서를 손모양으로 바꿔준다 */
}



/* FOOTER */
footer {
  background-color: #272727;
  border-top: 1px solid #333;
}

footer .inner {
  padding: 40px 0 60px 0;
}

footer .menu {
  display: flex;
  justify-content: center;
}

footer .menu li {
  position: relative;
}

/***********************************
* 가상요소 선택자 ::before 
* before는 인나인 요소
* 글자 사이사이마다 중간에 . 을 표시해주겠다 의미
* 개인정보처리방 . 영상정보처리 . 홈페이지. 위치정보
*************************************/
footer .menu li::before {
  content: "";
  width: 3px;
  height: 3px;
  /* background-color: #555; */
  background-color: #f6f5f0; /* . 을 표시 */
  position: absolute; /* 부모요소 기준으로 위치하겠다 */
  top: 0;             /* 위에서 0px */
  bottom: 0;          /* 아래에서 0px */
  right: -1px;
  margin: auto;
}

/***********************************************
 **  li:last-childs는 li태그 중에 가장 마지막 요소 
 **  윤리경영 핫라인 옆에 점
 ***********************************************/
footer .menu li:last-child::before {
  display: none;
}

footer .menu li a {
  color: #ccc;      /* 밝은회색*/
  font-size: 12px;
  font-weight: 700;   /* 글자 두께*/
  padding: 15px;      /* 여백*/
  display: block;
}

footer .menu li a.green { 
  color: #669900;
}

footer .btn-group {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

footer .btn-group .btn {
  font-size: 12px;  
  margin-right: 10px;
}

footer .btn-group .btn:last-child {
  margin-right: 0;
}

footer .info {
  margin-top: 30px;
  text-align: center;
}

footer .info span {
  margin-right: 20px;
  color: #999;
  font-size: 12px;
}

footer .info span:last-child {
  margin-right: 0;
}

footer .copyright {
  color: #999;
  font-size: 12px;
  text-align: center;
  margin-top: 12px;
}

footer .logo {
  margin: 30px auto 0;
}